# Created by https://www.toptal.com/developers/gitignore/api/python,jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=python,jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

__pycache__


data/MovieLens1M/final/train.txt
data/MovieLens1M/final/test.txt
data/MovieLens1M/final/s_pre_adj_mat.npz
data/MovieLens1M/raw/movies.dat
data/MovieLens1M/raw/ratings.dat
data/MovieLens1M/raw/users.dat
data/MovieLens1M/raw/README
data/MovieLens32M

sampling.cpython-310-x86_64-linux-gnu.so.lock